body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* Table Responsive*/
.table-responsive table,
.table-responsive td,
.table-responsive th {
    border: 1px solid #222222;
    border-collapse: collapse;
    padding: 0px 5px;
}

.table-responsive th,
.table-responsive th a {
    background-color: #222222;
    color: white;
}

.table-responsive tbody tr:hover {
    background-color: #EBEBEB;
}

.table-responsive .row-menu {
}
    .table-responsive .row-menu button {
        border: none;
        background: none;
        color: #4A8CF7;
    }